.channge_page {
  font-size: 20px;
  padding: 10px;
}

.input_window {
  width: 400px;
  height: auto;
  font-size: 18px;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  margin: 10px;
}

.reg_form {
  width: 400px;
  height: auto;
  font-size: 18px;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  margin: 10px;
}
